body{
    background-color: #000;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    margin: 0;
    padding: 0;
}
  div.bg{
    width:100%;
    height: 100vh;

    margin: auto;
    background-position: center;
    background-image: url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    margin-bottom: 0px;
  
  }
div.bgHeader{
    width: 100%;
    height: 150px;
    margin: auto;
    background-position: top;
    background-image: url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    box-shadow: 3px 3px 8px #000;
    position: fixed;
    top: 0;
    left: 0;
  }
  div.flex{
    display: flex;
  }

.logoDiv{
     position: fixed  ;
    top: 0  ;
    top: 0  ;
    right: 0  ;
  width: 100%  ;
  height: 150px  ;
    text-align: right  ;
 
    border-bottom-color: #fff  ;
    border-bottom-width: thin  ;
    border-bottom-style: solid  ;
    
}
.logoDivHeader{
     position: fixed  ;
   
    top: 0  ;
    right: 0  ;
  width: 100%  ;
  height: 150px  ;
    text-align: right  ;

    
}
.logoDiv img{
    width: 15%  ;
    height: auto  ;
    margin-right: 60px  ;
    margin-top: 40px  ;
} 
.logoDivHeader img{
    width: 15%  ;
    height: auto  ;
    margin-right: 40px  ;
    margin-top: 40px  ;
} 
.socialDiv img{
    width: 30px;
    height: auto;
    margin-right: 20px;
}
.guest{
    text-align: right;
    font-size: 30px;
   
}
.guest img{
    width: 90px;
    height: auto;
}

.guest img:hover{
    width: 120px;
    transition: width 0.8s;

}
.guest h4{
     font-size: 12px;
       line-height: 0px;
        display: none;
}
.guest h6{
    font-size: 10px;
    line-height: 0px;
    display: none;
}

.socialDiv{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    text-align: left ;
    margin-top: 70px;
    margin-left: 50px;
    z-index: -1;
}
.slider{
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 40px ;

    
}
.slider h1{
    text-align: right;
    text-shadow: 3px 2px 9px #000;
}
.slider p{
    text-align: center;
    line-height: 0px;
    margin-right: 20px;
letter-spacing: 20px
   
}
p.theme{
    text-align: right;
    line-height: 0px;

letter-spacing: 20px
   
}

.slider span{
    color: yellow;
}
.slides{
    -webkit-transition: display 2s ;
    -moz-transition: display 2s ;
    transition: display 2s ;
}
.menu{
      position: fixed ;
    top: 0 ;
    left: 0 ;
    margin-top: 165px  ;
    margin-left: 45px  ;
 text-align: center;
z-index: 30000;
   
}
.menu li{
     display: inline-block;
     margin-right: 10px;
     padding: 8px 15px;
     background-color: yellow;
     color: #000;
     font-style: bold;
     font-size: 15px;
     box-shadow: 3px 3px 10px #000;
         margin-bottom: 5px;
         
}
    .menu li:hover{
       background-color: orange; 
    }
    li.active{
        background-color: #000 !Important;
        color: #ccc !Important;
        border-color: #fff ;
        border-width: thin;
            border-style: solid;
    }

        .menuHeader{
      position: fixed ;
    top: 0 ;
    left: 0 ;
    margin-top: 50px  ;
    margin-left: 160px  ;
 text-align: center;
z-index: 30000;
   
}
.menuHeader li{
     display: inline-block;
     margin-right: 10px;
     padding: 8px 15px;
     background-color: yellow;
     color: #000;
     font-style: bold;
     font-size: 15px;
     box-shadow: 3px 3px 10px #000;
         margin-bottom: 5px;
         z-index: 30000;
}
    .menuHeader li:hover{
       background-color: orange; 
    }

    h1.noshow{
        display: none;
    }
    .fireSafety img{
        height: 250px;
        width: auto;
        margin-left: 150px;
    }
     .fireSafety li{
            display: inline-block;
            margin-right: 20px;
            color: #000; 
            font-size: 12px;

            border-right-width: thin;
            border-right-style: solid;
            padding: 0 15px;
     }
        .fireSafety li:hover{
            color: red;
            transition: color 1s;
        }

    .sidebar{
        position: fixed;
        bottom: 5%;
        right: 0;
        width: 250px;
        height: auto;
    
        text-align: center;
       
        padding: 0 5px;
    }
    .countDown{
        position: fixed;
        bottom:35%;
        right: 0;
        width: 250px;
        height: auto;
      
        display: flex;
 
        padding: 0 5px;
    }
    .countDown div, .countDownHome div{
        background: #ccc;
        margin: 0;
        margin-right: auto;
        margin-left: auto;
        width: 22%;
        height: 60px;
        text-align: center;

    }
    .countDown div{
         height: 73px;
    }
    .countDown p, .countDownHome p{
        font-size: 10px;
    }
       .countDown div:last-child, .countDownHome div:last-child{
        background: orange;
        margin: auto;
        
    }
    .countDownHome{
         position: fixed;
        top:9%;
        left: 0;
        width: 250px;
        height: auto;
      color: #000;
     
        margin-left: 80px;
        padding: 0 5px;
          display: flex;
    }
        .countDownHome p{
            color: #ccc;
        }
    .sidebar img{
        width: 30%;
        height: auto;
    }
    .sidebar p{
        color: #000;
        font-size: 10px;
        font-style: italic;
     
    }

    img.ikgFire{
        width: 100%;
        height: auto;
        margin: 0;
    }
    .event{
        padding: 0;
       background-image: url(../img/ikgFire.jpg);
       background-position: center;
       background-repeat: no-repeat;
       background-size: 100%;
       background-attachment: fixed;
    }
.profiles div{
    text-align: center;
    color: #000;
    display: inline-block ;
    width: 30%;
   
}


.profiles>div>img{
    width: 80%;
    height: auto
}
.hosts div{
     width: 45%;
}


    
.profiles h4, .profiles h6{
    line-height: 1%;
}


    @media only screen and (max-width: 500px) {
      body{
          padding: 0;
          margin: 0;
          background: #000;
      }

       div.bg{ 
        width: 100%;
        height:100vh;
        margin: 0;
    background-position: top;
    background-repeat: no-repeat;
    background-size: 330%;
    

  }

.countDownHome{
         position: absolute;
        top:83%;
        left: 10%;
        width: 250px;
        height: auto;
      color: #000;
     
        margin-left: 0px;
   
    }

.countDown {
         position: fixed;
        top: 0;
      right: 0;
        width: 100%;
        height: 50px;
      color: #fff;
 
        margin-left: 0px;
    padding-top: 20px;
       background-color: rgba(0, 0, 0, 0.7);
       z-index: 3;
   
    }
    .countDown div{
         background: none;
         margin: 0;
         padding: 0;
         margin-left: auto;
         margin-right: auto;
    }
    .countDown div:last-child{
        margin: 0;
       
         color: yellow;
         background: none;
    }
   .countDown h3, .countDown p{
      padding: 0;
      margin: 0;
   }  

   h1.noshow{
        display: block;
    }
.socialDiv{
    position: fixed;
    top: 0;
    left: 0;
    text-align: left;
    margin-top: 0;
    padding-left: 0px;
    margin-left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    height: 50px;
    z-index: 1;
     margin-left: 20px;
     
  display: none;
 
}
.socialDiv img{
    width: 26x;
    margin-top: 10px;
    margin-right: 12px;
}

.logoDiv{
     position: fixed;
    top: 0;
    right: 0;
  width: 100%;
  height: 130px;
    text-align: center;
 
    border-bottom-color: #fff;
    border-bottom-width: thin;
    border-bottom-style: solid;
  
    
}
.logoDiv img{
    width: 35%;
    height: auto;
    margin-right: 0;
    margin-top: 60px;
}
.menu, .menuHeader{
    position: fixed;
    top: 0;
    left: 0;
      margin: auto;
    margin-top: 210px;
    background: yellow;
    width: 100%;
   

  
}
.menu ul, .menuHeader ul{
    margin: 10px 0px;
    padding: 0px;
}
.menu li, .menuHeader li{
    box-shadow: 0 0 0 yellow;
    text-decoration: none;
    padding: 0px;
    font-size: 14px;
    margin-right:5px;
}
.menu li:hover, .menuHeader li:hover{
    color: red;
}

.menu li::after, .menuHeader li::after{
    content: '|';
    color: #000;
    margin-left: 5px
}

.menuHeader{
margin-top: 175px;
}


.slider{
    position: relative;
   
    margin-right: 0;
        padding: 0 10px;
padding-top: 300px;

    
}
.slider h1{
    text-align: center;
    font-size: 30px;
    text-shadow: 3px 2px 3px #000;
   
}
.slider p{
    text-align: center;
    line-height: 0px;
    margin-right: 20px;
letter-spacing: 4px;
 font-size: 12px;
   
}
p.theme{
       text-align: center;
    line-height: 0px;
    margin-right: 20px;
letter-spacing: 4px;
 font-size: 12px;
   
}
.guest img{
   display: none;
}

   .sidebar{
        position: fixed;
        bottom:0;
        left: 0;
        width: 100%;
        height: 70px;
      background: #000;
        margin-bottom: 10px;
        margin-right: 0px;
        padding: 0 5px;
        text-align: right;
         padding-top: 5px;
     
         
    }
    .sidebar img{
        width: 50px;
        height: auto;
        margin-right: 20px;
       
    }
    .sidebar p{
        color: #fff;
        font-size: 10px;
        font-style: italic;
        display: inline;
          margin-right:10px;
     
    }
    .fireSafety{
        text-align: center
    }

    .fireSafety img{
        height:auto;
        width: 100%;;
        margin-left: 0px;
    }
     .fireSafety li{
            display: inline-block;
            margin-right: 5px;
            color: #000; 
            font-size: 12px;

            border-right-width: thin;
            border-right-style: solid;
            padding: 0 5px;
     }
   
     
.event{
    width: 100%;
    height: 200px;
}

        div.bgHeader{
    width: 100%;
    height: 170px;
    margin: auto;
    background-position: top;
 
    position: fixed;
    top: 0;
    left: 0;
  
  }

  .logoDivHeader{
     position: fixed  ;
    top: 0  ;
    top: 0  ;
    left: 0  ;
  width: 100%  ;
  height: 150px  ;
    text-align: center  ;
 z-index: 1000000;
    
}

.logoDivHeader img{
    width: 25%  ;
    height: auto  ;
  margin: 0;
  padding: 0;
    margin-top: 80px  ;
   
} 



    
.profiles div{
    margin: auto;
    display: block ;
    width: 80%;
   
}


.profiles>div>img{
    width: 80%;
    height: auto
}
.hosts div{
     width: 100%;
}


    
.profiles h4, .profiles h6{
    line-height: 1%;
}


}